body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #31313a;
    border-radius: 22px;
    padding: 22px;
    box-shadow: 25px 25px 55px #0e0d0e,
                -15px -15px 45px #31313a,
                 inset 10px 10px 25px #0e0d0e,
                inset -10px -10px 25px #31313a;
    border: 1px solid red ;
}

#disblay {
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 10px 5px;
  font-size: 16px;
  color: #000;
  border-radius: 22px;
  background-color: #fff;
}



table {
    width:280px;
    margin-left: auto;
    margin-right: auto;
}

input {
    outline: none;
}

input[type=button] {
    width: 65px;
    height: 65px;
    border-radius:50%; 
    border: none;
    font-size: 18px;
    box-shadow: 0 0 25px #1a1a1d;
    background-color: #31313a;
    color: #fff;
    text-shadow: 0 0 25px #fff;
    transition: all 0.3s ease; 
    cursor: pointer;
    border: 1px solid blue; 
}

input[type=button]:hover {
    box-shadow: none;
    background-color: #353136;
}

